@charset="utf-8";

#comment{
    height: 100px;
    width: 60%;
}

html{
    font-family: Kanit, sans-serif;
}

h1{
    text-align: center;
}

.blockLeft{
    width: 30%;
    padding-top: 5%;
}

.blockRight{
    width: 70%;
}

.blockLeft, .blockRight{
    float: left;
    
}

.info{
    float: left;
   
}

h4{
    padding-left: 20%;
}