*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Shadows Into Light';
    background-color:rgb(47, 204, 151);
    background-image: url("grocery-store.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.container{
    
    width: 90%;
    margin: auto;
    display: flex;
}

.groceries{
    width: 600px;
    min-height: 100vh;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.612);
    box-shadow: 10px 10px 24px 0 rgba(0, 0, 0, 0.5);
}

.groceries h1{
    font-size: 2.5rem;
    margin-top: 1em;
}

.groceries i{
    font-size: 2rem;
    color: rgb(57, 165, 129);
}

.groceries input{
    font-family: inherit;
    outline: 0;
    border: 0;
    border-bottom: 3px solid black;
    width: 70%;
    font-size: 1.5rem;
}

#allItems h2{
    margin-left: 50px;
    margin-right: 10px;
    margin-top: 15px;
    font-size: 2rem;
}

@media(max-width:480px){
    .groceries h1{
        font-size: 2rem;
    }
    .groceries i{
        font-size: 1.5rem;
    }
    .groceries input{
        font-size: 1rem;
    }
    allItems h2{
        margin-left: 25px;
        font-size: 1.5rem;
    }
}